* {
    margin: 0;
    padding: 0;
}

body {
    min-height: 100vh;
    background-image: url(https://unsplash.com/photos/a-macbook-with-lines-of-code-on-its-screen-on-a-busy-desk-m_HRfLhgABo);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}